E-ConstatBackEnd/*#
E-ConstatBackEnd/*.iml
E-ConstatBackEnd/*.ipr
E-ConstatBackEnd/*.iws
E-ConstatBackEnd/*.jar
E-ConstatBackEnd/*.sw?
E-ConstatBackEnd/*~
E-ConstatBackEnd/.#*
E-ConstatBackEnd/.*.md.html
E-ConstatBackEnd/.DS_Store
E-ConstatBackEnd/.attach_pid*
E-ConstatBackEnd/.classpath
E-ConstatBackEnd/.factorypath
E-ConstatBackEnd/.gradle
E-ConstatBackEnd/.idea
E-ConstatBackEnd/.metadata
E-ConstatBackEnd/.project
E-ConstatBackEnd/.recommenders
E-ConstatBackEnd/.settings
E-ConstatBackEnd/.springBeans
E-ConstatBackEnd/.vscode
E-ConstatBackEnd/code
E-ConstatBackEnd/MANIFEST.MF
E-ConstatBackEnd/_site/
E-ConstatBackEnd/activemq-data
E-ConstatBackEnd/bin
E-ConstatBackEnd/build
E-ConstatBackEnd/!/**/src/**/bin
E-ConstatBackEnd/!/**/src/**/build
E-ConstatBackEnd/build.log
E-ConstatBackEnd/dependency-reduced-pom.xml
E-ConstatBackEnd/dump.rdb
E-ConstatBackEnd/interpolated*.xml
E-ConstatBackEnd/lib/
E-ConstatBackEnd/manifest.yml
E-ConstatBackEnd/out
E-ConstatBackEnd/overridedb.*
E-ConstatBackEnd/target
E-ConstatBackEnd/.flattened-pom.xml
E-ConstatBackEnd/secrets.yml
E-ConstatBackEnd/.gradletasknamecache
E-ConstatBackEnd/.sts4-cache


E-ConstatFrontEnd/*~
E-ConstatFrontEnd/*.sw[mnpcod]
E-ConstatFrontEnd/*.log
E-ConstatFrontEnd/*.lock
E-ConstatFrontEnd/*.tmp
E-ConstatFrontEnd/*.tmp.*
E-ConstatFrontEnd/log.txt
E-ConstatFrontEnd/*.sublime-project
E-ConstatFrontEnd/*.sublime-workspace

E-ConstatFrontEnd/.idea/
E-ConstatFrontEnd/.vscode/
E-ConstatFrontEnd/.sass-cache/
E-ConstatFrontEnd/.versions/
E-ConstatFrontEnd/coverage/
E-ConstatFrontEnd/collection/
E-ConstatFrontEnd/dist/
E-ConstatFrontEnd/dist-transpiled/
E-ConstatFrontEnd/node_modules/
E-ConstatFrontEnd/tmp/
E-ConstatFrontEnd/temp/
E-ConstatFrontEnd/core/theme-builder/
E-ConstatFrontEnd/core/test-components/
E-ConstatFrontEnd/core/css/
E-ConstatFrontEnd/$RECYCLE.BIN/

E-ConstatFrontEnd/.DS_Store
E-ConstatFrontEnd/Thumbs.db
E-ConstatFrontEnd/UserInterfaceState.xcuserstate
E-ConstatFrontEnd/.env

E-ConstatFrontEnd/.package.tmp.json

E-ConstatFrontEnd/src/themes/version.scss
E-ConstatFrontEnd/scripts/e2e/webpackEntryPoints.json
E-ConstatFrontEnd/scripts/build/e2e-generated-tsconfig.json
E-ConstatFrontEnd/*.css.ts

E-ConstatFrontEnd/stats.json

# demo stuff
E-ConstatFrontEnd/demos/node_modules
E-ConstatFrontEnd/demos/polyfills
E-ConstatFrontEnd/demos/css
E-ConstatFrontEnd/demos/fonts
E-ConstatFrontEnd/demos/src/**/*.js
E-ConstatFrontEnd/demos/src/**/*.map
E-ConstatFrontEnd/demos/src/**/*.ngfactory.ts
E-ConstatFrontEnd/demos/src/**/*.d.ts
E-ConstatFrontEnd/demos/src/**/*.metadata.json
E-ConstatFrontEnd/demos/src/**/*.css.shim.ts
E-ConstatFrontEnd/prerender.html
E-ConstatFrontEnd/prerender-domino.html
E-ConstatFrontEnd/prerender-hydrated.html
E-ConstatFrontEnd/prerender-static.html

# stencil
E-ConstatFrontEnd/packages/react/css/
E-ConstatFrontEnd/packages/vue/css/
E-ConstatFrontEnd/core/components/
E-ConstatFrontEnd/core/css/
E-ConstatFrontEnd/core/hydrate/
E-ConstatFrontEnd/core/loader/
E-ConstatFrontEnd/core/www/
E-ConstatFrontEnd/.stencil/

# playwright
E-ConstatFrontEnd/core/test-results/
E-ConstatFrontEnd/core/playwright-report/
E-ConstatFrontEnd/core/**/*-snapshots

# angular
E-ConstatFrontEnd/angular/css/
E-ConstatFrontEnd/angular/test/build/
E-ConstatFrontEnd/.angular/

# vue
E-ConstatFrontEnd/packages/vue/test/build/

E-ConstatFrontEnd/.npmrc