<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">

    <ion-item lines="full">
      <ion-label position="floating">Prénom</ion-label>
      <ion-input type="text" required [(ngModel)]="user.firstname"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" required [(ngModel)]="user.lastname"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Nom d'utilisateur</ion-label>
      <ion-input type="text" required [(ngModel)]="user.username"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" required [(ngModel)]="user.password"></ion-input>
    </ion-item>
    
    <ion-button type="submit" color="success" expand="block" (click)="addUser()">S'inscrire</ion-button>
  </div>
    
</ion-content>