<ion-header [style.visibility]="content_visibility"> 
  <ion-toolbar>
    <ion-title>
      2 smartphones
    </ion-title>
    <ion-item>
      <ion-button  slot="start" [routerLink]="['/welcome']">Retour</ion-button>
      <div slot="end" style="display: flex;" class="test" >
        <ion-icon  name="person" style="margin-right: 2px;" ></ion-icon>
        <ion-button color="danger" (click)="logoutAction2()" >Déconnexion</ion-button>

        </div>
    </ion-item>
  </ion-toolbar>
</ion-header>
<div class="scan-box" [style.visibility]="!content_visibility" ></div>
<ion-content class="ion-padding" [style.visibility]="content_visibility">
  <div  class="flex justify-content-center ion-margin-top relative" style="align-items: flex-start; flex-wrap: wrap; margin-top: -15px;">
   
    <div class="flex flex-column align-items-center justify-content-center" style="width: 25%; margin-top: 15px;"
      *ngFor="let slide of slides; let index = index; let first = first; let last = last;">
      <div 
        class="flex flex-column align-items-center justify-content-center bold text-medium "
        style="width: 30px; height: 30px; border-radius: 15px;"
        [style.background]="slide === currentSlide ? 'var(--ion-color-primary)':'var(--ion-color-light-shade)'"
        [style.color]="slide === currentSlide ? 'var(--ion-color-light)':'var(--ion-color-dark)'"
        >
        {{ index + 1 }}
  </div>
      <div [style.color]="slide === currentSlide ? 'var(--ion-color-primary)':'var(--ion-color-medium)'"
        
      class="step-title">
        {{ slide }}
</div>
    </div>
  </div>
  <ion-slides [options]="slidesOpts"  (ionSlideDidChange)="onSlideDidChange()" (ionSlideWillChange)="onSlideWillChange()">
    <ng-container *ngFor="let slide of slides">
      <ion-slide>
        <div style="width: 100%;" *ngIf="slide==='Accident'">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Accident Site</ion-label>
                <ion-input placeholder="Enter Accident Site" [(ngModel)]="constat.accidentSite" #test="ngModel" required minlength="3"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="test.invalid && (test.dirty || test.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Blessé(s)</ion-label>
                <ion-toggle slot="end" [(ngModel)]="constat.hurtPeople" (ngModelChange)="onHurtPeopleOn()"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Dégats matériels</ion-label>
                <ion-toggle slot="end" [(ngModel)]="constat.materialDamageOtherThenAorB"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
          
        </div>
        <div *ngIf="slide==='Compagnie Assurance'">
          <ion-button id="open-modal" expand="block">Ajouter témoins</ion-button>
          <p>{{ message }}</p>
          <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <ion-button (click)="cancel()">Annuler</ion-button>
                  </ion-buttons>
                  <ion-title>Welcome</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="confirm()" [strong]="true">Confirmer</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <ion-item>
                  <ion-label position="floating">Prénom</ion-label>
                  <ion-input placeholder="Enter witness First name" [(ngModel)]="witness.firstname"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Nom</ion-label>
                  <ion-input placeholder="Enter witness Last name" [(ngModel)]="witness.lastname"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input placeholder="Enter witness Email" [(ngModel)]="witness.email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Addresse</ion-label>
                  <ion-input placeholder="Enter witness Address" [(ngModel)]="witness.address"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Telephone numéro</ion-label>
                  <ion-input type="tel" placeholder="+216 11 111 111" [(ngModel)]="witness.phone"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Passager avec vehicule A</ion-label>
                  <ion-toggle slot="end" [(ngModel)]="witness.passenger"></ion-toggle>
                </ion-item>
                <ion-item>
                  <ion-label>Passager avec vehicule B</ion-label>
                  <ion-toggle slot="end"></ion-toggle>
                </ion-item>
              </ion-content>
            </ng-template>
          </ion-modal>
          <h1>{{text3}}</h1>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Sociéte d'assurance</ion-label>
                <ion-input placeholder="Enter Insurence Company Name" [(ngModel)]="vehiculeInforamtion.insurenceCompanyInformation.insurenceCompanyName" #icn="ngModel" required minlength="2"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="icn.invalid && (icn.dirty || icn.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Contrat d'assurance N°</ion-label>
                <ion-input placeholder="Enter Insurance Contract Number" [(ngModel)]="vehiculeInforamtion.insurenceCompanyInformation.insuranceContractNumber" #iccn="ngModel" required minlength="10" maxlength="12"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="iccn.invalid && (iccn.dirty || iccn.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Agence</ion-label>
                <ion-input placeholder="Enter Agency Name" [(ngModel)]="vehiculeInforamtion.insurenceCompanyInformation.agencyName" #ican="ngModel" required minlength="2"> </ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="ican.invalid && (ican.dirty || ican.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Date début</ion-label>
                <ion-input
                  id="begindate"
                  class="ion-text-end"
                ></ion-input>
                <ion-popover trigger="begindate" size="cover">
                  <ng-template>
                    <ion-datetime
                      presentation="begindate"
                      [(ngModel)]="vehiculeInforamtion.insurenceCompanyInformation.begingDate"
                      locale="sl-SI" required 
                    ></ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
              
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Date fin</ion-label>
                <ion-input
                  id="enddate"
                  class="ion-text-end"
                ></ion-input>
                <ion-popover trigger="enddate" size="cover">
                  <ng-template>
                    <ion-datetime
                      presentation="enddate"
                      [(ngModel)]="vehiculeInforamtion.insurenceCompanyInformation.endDate"
                      locale="sl-SI" required #iced="ngModel"
                    ></ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
              
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="slide==='Conducteur'">
          <h1>{{text4}}</h1>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Prénom</ion-label>
                <ion-input placeholder="Enter driver First name" [(ngModel)]="vehiculeInforamtion.driverInformation.firstname" #difn="ngModel"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="difn.invalid && (difn.dirty || difn.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Nom</ion-label>
                <ion-input placeholder="Enter driver Last name" [(ngModel)]="vehiculeInforamtion.driverInformation.lastname" #diln="ngModel"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="diln.invalid && (diln.dirty || diln.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input placeholder="Enter driver Email" [(ngModel)]="vehiculeInforamtion.driverInformation.email" #diem="ngModel"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="diem.invalid && (diem.dirty || diem.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Addresse</ion-label>
                <ion-input placeholder="Enter driver Address" [(ngModel)]="vehiculeInforamtion.driverInformation.adress" #dia="ngModel"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="dia.invalid && (dia.dirty || dia.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Permis de conduire N°</ion-label>
                <ion-input placeholder="Enter driver Licence Number" [(ngModel)]="vehiculeInforamtion.driverInformation.licenceNumber" #dilnb="ngModel"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="dilnb.invalid && (dilnb.dirty || dilnb.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Délivré le</ion-label>
                <ion-input
                  id="licencedate"
                  class="ion-text-end"
                ></ion-input>
                <ion-popover trigger="licencedate" size="cover">
                  <ng-template>
                    <ion-datetime
                      presentation="licencedate"
                      [(ngModel)]="vehiculeInforamtion.driverInformation.licenceDate"
                      locale="sl-SI" required
                    ></ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
              
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="slide==='Assuré'">
          <h1>{{text5}}</h1>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Prénom</ion-label>
                <ion-input placeholder="Enter Insured First name" [(ngModel)]="vehiculeInforamtion.insuredInforamation.firstname" #iifn="ngModel"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="iifn.invalid && (iifn.dirty || iifn.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Nom</ion-label>
                <ion-input placeholder="Enter Insured Last name" [(ngModel)]="vehiculeInforamtion.insuredInforamation.lastname" #iiln="ngModel"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="iiln.invalid && (iiln.dirty || iiln.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
          
          
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Addresse</ion-label>
                <ion-input placeholder="Enter Insured Address" [(ngModel)]="vehiculeInforamtion.insuredInforamation.adress" #iia="ngModel"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="iia.invalid && (iia.dirty || iia.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Téléphone N°</ion-label>
                <ion-input type="tel" placeholder="+216 11 111 111" [(ngModel)]="vehiculeInforamtion.insuredInforamation.phone" required #iip="ngModel"></ion-input>
              </ion-item>

              <ion-text color="danger" *ngIf="iip.invalid && (iip.dirty || iip.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
          
          <h1>{{text}}</h1>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Marque</ion-label>
                <ion-input placeholder="Enter vehicule brand" [(ngModel)]="vehiculeInforamtion.vehicule.brand" required #vivb="ngModel"> </ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="vivb.invalid && (vivb.dirty || vivb.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Type</ion-label>
                <ion-input placeholder="Enter vehicule type" [(ngModel)]="vehiculeInforamtion.vehicule.type" #vivt="ngModel"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="vivt.invalid && (vivt.dirty || vivt.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Immatriculation</ion-label>
                <ion-input placeholder="Enter vehicule plate" [(ngModel)]="vehiculeInforamtion.vehicule.carPlate" #vivp="ngModel"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="vivp.invalid && (vivp.dirty || vivp.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Direction</ion-label>
                <ion-input placeholder="Enter vehicule direction coming from ... going to ..." [(ngModel)]="vehiculeInforamtion.vehicule.direction" #vivd="ngModel"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="vivd.invalid && (vivd.dirty || vivd.touched)">
                <span class="text-tiny">
                  Field required
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
          
        </div>
        <div *ngIf="slide==='Damage'">
          <h1>{{text2}}</h1>
          <ion-list>
            <ion-radio-group [allowEmptySelection]="true" value="chocs" [(ngModel)]="constat.vehiculeInformationA.apperantDamage">
              <ion-item>
                <ion-label>coté avant droit</ion-label>
                <ion-radio slot="end" value="pare à choc Ad"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label> coté gauche</ion-label>
                <ion-radio slot="end" value="pare à choc Ag"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label> choc avant</ion-label>
                <ion-radio slot="end" value="pare à choc AM"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>coté droit </ion-label>
                <ion-radio slot="end" value="cote droit avant"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Arrière Droit</ion-label>
                <ion-radio slot="end" value="cote droit arriére"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Arrière </ion-label>
                <ion-radio slot="end" value="cote arriére"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Arrière gauche </ion-label>
                <ion-radio slot="end" value="cote arrière gauche"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>coté gauche </ion-label>
                <ion-radio slot="end" value="cote gauche "></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <ion-item>
            <ion-label position="floating">Observation</ion-label>
            <ion-input placeholder="Enter Observation " [(ngModel)]="constat.vehiculeInformationA.observation"></ion-input>
          </ion-item>
          <img src="assets/icon/car choc.png" alt="car choc">

          
        </div>
        <div *ngIf="slide==='Croquis'">
          <h3>Sketch</h3>
          
          <div>
           
            <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-button color="danger" (click)="clearPad()">Clear</ion-button>
                </ion-col>
                <ion-col size="4" offset="2">
                  <ion-button color="secondary" (click)="savePad()">Save</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <ion-item *ngFor="let cir of circumstances">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>{{cir}}</ion-label>
          </ion-item>
          
        </div>
        <div *ngIf="slide==='Signature'">
          <h3>Signature</h3>
            <div>
              <canvas #canvas2 (touchstart)="startDrawingSignature($event)" (touchmove)="movedSignature($event)"></canvas>
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-button color="danger" (click)="clearPadSignature()">Effacer</ion-button>
                  </ion-col>
                  <ion-col size="4" offset="2">
                    <ion-button color="secondary" (click)="savePadSignature()">Enregistrer</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
      </ion-slide>
    </ng-container>
  </ion-slides>
</ion-content>
<ion-footer >
  <ion-toolbar>
    <div class="full-width flex align-items-center justify-content-space-between">
      <ion-button [style.visibility]="(isBeginning) ? 'hidden' :''" (click)="onBack()" color="dark" strong shape="round">
        <span>Retour</span>
      </ion-button>
      <ion-button color="primary" [style.visibility]="(isEnding) ? 'hidden' :''" (click)="onNext()" [style.visibility]="content_visibility" strong shape="round">
        <span>Suivant</span>
      </ion-button>
      
    </div>
    <div *ngIf="isEnding==true && idvehiculeInformationA==-1">
      <ion-button color="primary" expand="block" (click)="setOpenQrCodeGenerator(true)" strong shape="round">
        <span>Generate qrCode</span>
      </ion-button>
    </div>
    <div *ngIf="isEnding==true && idvehiculeInformationA!=-1">
      <ion-button color="primary"  expand="block" (click)="saveConstat()" strong shape="round">
        <span>Enregister Constat</span>
      </ion-button>
    </div>
    <ion-modal [isOpen]="isModalOpenQrCodeGenerator">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Qr CODE GENRATEUR</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpenQrCodeGenerator(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <qrcode [qrdata]="test" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </ion-content>
      </ng-template>
    </ion-modal>
    <div *ngIf="isBeginning==true">
      <ion-button color="primary" expand="block"  (click)="startScan()" [style.visibility]="content_visibility" strong shape="round">
        <span>Scanner qrCode</span>
      </ion-button>
    </div>
    <div *ngIf="content_visibility==='hidden'">
      <ion-button color="primary" (click)="stopScan()" strong shape="round">
        <span>Stop Scan</span>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

