<ion-header>
  <!-- add it to all screens   -->
  <ion-toolbar style="padding-top: 10px 0px;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Se Connecter</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">

    <ion-item lines="full">
      <ion-label position="floating">Nom de l'utilisateur</ion-label>
      <ion-input type="text" required [(ngModel)]="user.username"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" required [(ngModel)]="user.password"></ion-input>
    </ion-item>
   
        <ion-button type="submit" color="success" expand="block" (click)="onLoggedin()">connectez-vous</ion-button>
        <div class="forgot">
          <a [routerLink]="['/forgot-password']" class="small-text">Mot de passe oublié?</a>
        </div>
        
      </div>
</ion-content>