<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons (click)="closeModal()" slot="start">
      <ion-button slot="icon">
        <ion-icon class="icon" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title-ios ion-text-capitalize">Constat</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="GenerateConstatPdf" 
    style="max-width: 800px;margin: auto;padding: 30px;border: 1px solid #eee;box-shadow: 0 0 10px rgba(0, 0, 0, .15);font-size: 16px;line-height: 24px;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;color: #555;">
    <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
      <tr class="top">
        <td colspan="2" style="padding: 5px;vertical-align: top;">
          <table style="width: 100%;line-height: inherit;text-align: left;">
            <tr>
              <td class="title"
                style="padding: 5px;vertical-align: top;padding-bottom: 20px;font-size: 45px;line-height: 45px;color: #333;">
                <img alt="Constat sketch" src='{{constat.sketch}}'  style="width:100%; max-width:300px;"/>
              </td>

              <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
                Constat #<br>
                Crée le: {{constat.accidentDate}}<br>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="information">
        <td colspan="2" style="padding: 5px;vertical-align: top;">
          <table style="width: 100%;line-height: inherit;text-align: left;">
            <tr>
              <td style="padding: 5px;vertical-align: top;padding-bottom: 40px;">
                Lieu d'accident:<br>
                {{constat.accidentSite}}<br>
              </td>

              <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 40px;">
                Blessés:<br>
                {{constat.hurtPeople}}<br>
                Dégats matériels autres qu'aux véhicules a et b:<br>
                {{constat.materialDamageOtherThenAorB}}<br>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="heading">
        <td style="padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
          Vehicule Information A
        </td>

        <td
          style="padding: 5px;vertical-align: top;text-align: right;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
          
        </td>
      </tr>

      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Véhicule assuré par
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.insurenceCompanyInformation.insurenceCompanyName}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Police d'Assurance N°
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.insurenceCompanyInformation.insuranceContractNumber}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Insurence Agency Name
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.insurenceCompanyInformation.agencyName}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Attestaion valable du
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.insurenceCompanyInformation.begingDate}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          au 
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.insurenceCompanyInformation.endDate}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Nom du conducteur
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.driverInformation.lastname}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Prénom
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.driverInformation.firstname}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Adresse
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.driverInformation.adress}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Permis du conduire N°
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.driverInformation.licenceNumber}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Délivré le
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.driverInformation.licenceDate}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Nom Assuré
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.insuredInforamation.lastname}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Prénom
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.insuredInforamation.firstname}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Adresse
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.insuredInforamation.adress}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          tél
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.insuredInforamation.phone}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Identité du véhicule(Marque , Type)
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.vehicule.brand}},{{constat.vehiculeInformationA.vehicule.type}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
         Immatriculation
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.vehicule.carPlate}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
         Sens suivi 
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.vehicule.direction}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
         Choc Inital 
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.apperantDamage}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
         observation 
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.observation}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
         Circonstances
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.circumstances}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
         observation 
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.signature}}
        </td>
      </tr>


      <tr class="heading">
        <td style="padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
          Vehicule Information B
        </td>

        <td
          style="padding: 5px;vertical-align: top;text-align: right;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
          
        </td>
      </tr>


      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Insurence Company Name
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationB.insurenceCompanyInformation.insurenceCompanyName}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Insurence Company Name
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationB.insurenceCompanyInformation.insuranceContractNumber}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Insurence Company Name
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationB.insurenceCompanyInformation.agencyName}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Insurence Company Name
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationB.insurenceCompanyInformation.begingDate}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Insurence Company Name
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationB.insurenceCompanyInformation.endDate}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Insurence Company Name
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.insurenceCompanyInformation.insurenceCompanyName}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Insurence Company Name
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.insurenceCompanyInformation.insurenceCompanyName}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Insurence Company Name
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.insurenceCompanyInformation.insurenceCompanyName}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Insurence Company Name
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.insurenceCompanyInformation.insurenceCompanyName}}
        </td>
      </tr>
      <tr class="details">
        <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
          Insurence Company Name
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
          {{constat.vehiculeInformationA.insurenceCompanyInformation.insurenceCompanyName}}
        </td>
      </tr>
    </table>
  </div>
</ion-content>
<ion-footer (click)="downloadInvoice()">
  <ion-toolbar color="dark" class="ion-padding-horizontal">
    <div class="ion-text-center">
      <h4 class="ion-no-margin">Download Constat</h4>
    </div>
  </ion-toolbar>
</ion-footer>