ion-content {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
   
}
.container {
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
}

ion-button {
    margin: 20px 0px;
}

.forgot {
    margin-top: 20px;    
}

ion-item {
margin-top: 10px;
}

small {
   
    color:'#222222';
    font-size: 13px;
}