<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">

    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" required [(ngModel)]="username"></ion-input>
    </ion-item>
   
        <ion-button type="submit" color="success" expand="block" (click)="forgotPassword()">Send</ion-button>
      
  
    <small>
      Please provide the username that you used when you signed
      up for your Evernote account.
    </small>
  </div>
  </ion-content>