<ion-header>
  <ion-toolbar>
    <ion-title>reset-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">New password</ion-label>
    <ion-input placeholder="Enter New password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirme password</ion-label>
    <ion-input placeholder="Enter password Confirmation" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="updatePassword()">Reset</ion-button>
  </ion-item>
</ion-content>
