<ion-header>
  <ion-toolbar style="padding-top: 10px 0px;">
    <ion-title>Réinitialiser Mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <ion-item lines="full">
      <ion-label position="floating">Nouveau mot de passe</ion-label>
      <ion-input placeholder="Enter New password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Confirmez le mot de passe</ion-label>
      <ion-input placeholder="Enter password Confirmation" [(ngModel)]="password"></ion-input>
    </ion-item>
    
      <ion-button color="success" (click)="updatePassword()">Réinitialiser</ion-button>
   
  </div>
</ion-content>
