<ion-header>
  <ion-toolbar>
    <ion-title>
      Se connecter ou s'inscrire
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">S'inscrire</ion-button>
        <span class="divider line one-line">Ou</span>
        <span class="already">Déjà utilisateur ?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Se connecter</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>